<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lin.person">
<uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        tools:replace="android:theme">
        <!--<activity android:name=".debug.DebugActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".activity.InfoManageActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.PreOrderActivity" />
        <activity android:name=".activity.PreOrderDetailActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.AddNewAddressActivity"/>
        <activity android:name=".activity.AddressActivity"/>
        <activity android:name=".activity.ModifyAddressActivity"/>
        <activity android:name=".activity.CommentActivity"/>
    </application>
</manifest>
