<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lin.store">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/AppTheme" />
</manifest>
